body{
  margin: 0;
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  opacity: 0.9;
  color: seashell;
  text-align: center;
}

a {
    color: seashell;
}

.header{
  display: flex;
  height: 69px;
  width: 100%;
  position: fixed;
  border-bottom: 1px solid seashell;
  z-index: 5;
  background-color: black;
  align-items: center;
}

.logo img{
  height: 50px;
  padding-left: 10px;
}

nav {
  display: flex;
  margin-bottom: 0 auto;
  width: 100%;
  justify-content: flex-end;
}

nav li {
  display: inline-block;
  width: 150px;
  padding: 5px;
  text-align: center;
}

nav a {
  color: seashell;
}

.content {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: 100px auto;
  width: 100%;
  justify-content: center;
}

#mission {
  display: flex;
  top: 100px;
  flex-wrap: wrap;
  position: static;
  margin: 0 auto;
  align-items: center;
  align-content: center;
  background-image: url("../images/img-mission-background.jpg");
  width: 1200px;
  height: 700px;
}

.overall {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 100%;
}

#featured-teas {
  display: flex;
  position: static;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;
  width: 1000px;
  padding: 40px;
}

.teas-box {
  display: flex;
  position: static;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 300px auto;
}

.tea{
  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: flex-start;
}

.tea img {
  width: 300px;
  height: 200px;
  margin: 10px;

}

.tea h4 {
  margin-top: 0 ;
  margin-bottom: 50px;
}

#locations{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  width: 1200px;
  margin: 0 auto;
  background-image: url("../images/img-locations-background.jpg");
}

.locations-box {
  position: relative;
  height: 300px;
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.location {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  background-color: black;
  width: 300px;
  margin: 15px 20px;
  opacity: 1;
}

.location h4{
  margin: 20px auto;
}

.location-expanded h2{
  margin-bottom: 0;
}

.footer {
  display: flex;
  position: static;
  flex-direction: column;
  height: 200px;
}

.left {
  align-self: flex-start;
  padding: 20px;
}
